<p id="notice"><%= notice %></p>

<h1>Prozesses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Istprozess</th>
      <th>Department</th>
      <th>Abletoviernull</th>
      <th>Bestsolution</th>
      <th>Istproz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% @prozesses.each do |prozess| %>
      <% if prozess.istproz.nil? %>
      <tr>
        <td><%= prozess.title %></td>
        <td><%= prozess.description %></td>
        <td><%= prozess.istprozess %></td>
        <td><%=prozess.department%>/td>
        <td><%= prozess.abletoviernull %></td>
        <td><%= prozess.bestsolution %></td>
        <td><%= prozess.istproz %></td>
        <td><%= link_to 'Show', prozess %></td>
        <td><%= link_to 'Edit', edit_prozess_path(prozess) %></td>
        <td><%= link_to 'Destroy', prozess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prozess', new_prozess_path %>


